<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <ul>
            {{#each gifts}}
                <li>
                <p><span class="label">ID:</span> {{this.id}}</p>
                <p><span class="label">Description:</span> {{this.gift_desc}}</p>
                <p><span class="label">Gift:</span> {{this.gift}}</p>
                <p><span class="label">URL:</span> {{this.gift_url}}</p>

                <button data-id="{{this.id}}" class="delquote">Delete</button>

                <a href="/{{this.id}}">Add to List</a>
                </li>
            {{/each}}
            </ul>
                    

        </div>
    </div>
</div>